USE [master]
GO
/****** Object:  Database [agent_j]    Script Date: 2/1/2024 11:59:06 PM ******/
CREATE DATABASE [agent_j]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'agent_j', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\agent_j.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'agent_j_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\agent_j_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agent_j].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agent_j]
GO
/****** Object:  Table [dbo].[songs]    Script Date: 2/1/2024 11:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songs](
	[song_id] [int] IDENTITY(1,1) NOT NULL,
	[song_title] [nvarchar](max) NOT NULL,
	[song_lyrics] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[song_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[songs_volumes]    Script Date: 2/1/2024 11:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songs_volumes](
	[songs_volumes_id] [int] NOT NULL,
	[songs_id] [int] NOT NULL,
	[volumes_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/1/2024 11:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](200) NOT NULL,
	[salt] [varchar](200) NOT NULL,
	[user_role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[volumes]    Script Date: 2/1/2024 11:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[volumes](
	[volume_id] [int] IDENTITY(1,1) NOT NULL,
	[volume_number] [int] NOT NULL,
	[volume_roman] [nchar](10) NOT NULL,
	[volume_title] [nvarchar](max) NOT NULL,
	[volume_year] [int] NOT NULL,
	[volume_link] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[volume_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[songs_volumes]  WITH CHECK ADD  CONSTRAINT [FK_songs_id] FOREIGN KEY([songs_id])
REFERENCES [dbo].[songs] ([song_id])
GO
ALTER TABLE [dbo].[songs_volumes] CHECK CONSTRAINT [FK_songs_id]
GO
ALTER TABLE [dbo].[songs_volumes]  WITH CHECK ADD  CONSTRAINT [FK_volumes_id] FOREIGN KEY([volumes_id])
REFERENCES [dbo].[volumes] ([volume_id])
GO
ALTER TABLE [dbo].[songs_volumes] CHECK CONSTRAINT [FK_volumes_id]
GO
USE [master]
GO
